.header-doc-page {
    width: 100%;
    height: 125px;
    border-bottom: 1px solid #009474;
    background-color: #00b58e;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Nunito';
    font-size: 1.6em;
    z-index: 3;

    .title {
        flex: 1;
        display: flex;
        justify-content: center;
    }

    .top-actions {
        width: 10%;
        display: flex;
        justify-content: center;
        gap: 20px;

        span {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}