<div class="register-page">
    <div class="table-content">
        <ngx-datatable [rows]="primarySections" class="material striped table" [headerHeight]="48" [rowHeight]="52"
            [footerHeight]="50" [limit]="6" [reorderable]="false" [messages]="{totalMessage: 'registros encontrados.'}"
            (activate)="onSelectSection($event)">
            <ngx-datatable-column name="Título" prop="title" [width]="600"></ngx-datatable-column>
        </ngx-datatable>
    </div>
    <div class="form-content">
        <div class="buttons">
            <button mat-fab (click)="newPrimarySection()" matTooltip="Nova seção principal"
                [disabled]="!formPrimarySection.value.id">
                <span class="material-symbols-outlined">add</span>
            </button>
            <button mat-fab (click)="savePrimarySection()" matTooltip="Salvar">
                <span class="material-symbols-outlined">save</span>
            </button>
            <button mat-fab (click)="openConfirmationDialog()" matTooltip="Excluir seção principal"
                class="delete-button" [disabled]="!formPrimarySection.value.id">
                <span class="material-symbols-outlined">delete</span>
            </button>
        </div>
        <form class="form" [formGroup]="formPrimarySection">
            <div fxLayout="row" fxLayoutAlign="end">
                <input type="hidden" formControlName="id">
                <mat-form-field fxFlex="65">
                    <mat-label>Título</mat-label>
                    <input type="text" matInput maxlength="25" #titleInput formControlName="title">
                    <mat-hint align="end">{{ titleInput.value.length }}/25</mat-hint>
                </mat-form-field>
            </div>
        </form>
    </div>
</div>